   <div class="main-form">
     <form method="POST ">
       

      <div class="row cust" >

        <div class="input-field  ">
         
          <label for="DiseaseName">DiseaseName</label>
        </div>
        <div class="input-field input col s6">
          <input placeholder="DiseaseName" type="text" class="validate">
        </div>
      </div>
      <div class="row cust">

        <div class="input-field">
         
          <label for="Summary">Summary</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Summary" type="text" class="validate">
        
        </div>
      </div>
      <div class="row cust ">

        <div class="input-field ">
         
          <label for="Cause">Cause</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Cause" type="text" class="validate">
        
        </div>
      </div>
      <div class="row cust">

        <div class="input-field ">
         
          <label for="Midicine">Midicine</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Midicine" type="text" class="validate">
        
        </div>
      </div>
      <div class="row  cust">

        <div class="input-field ">
         
          <label for="NaturalMidicine">NaturalMidicine</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="NaturalMidicine" type="text" class="validate">
        
        </div>
      </div> 
            <div class="center">
      <button type="submit" class="btn form-button">submit</button>
      </div>
 

     </form>
   </div>